name: deploy

on:
  workflow_dispatch:

jobs:
  apply:
    name: terraform apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: iac/
    steps:
      - uses: actions/checkout@v4
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - run: terraform init
      - run: terraform apply -auto-approve
        env:
          TF_VAR_amplify_access_token: ${{ secrets.AMPLIFY_ACCESS_TOKEN }}
