# create a workflow to run on push to main branch when template.yml changes
name: Deploy

on:
  pull_request:
    paths:
      - template.yml
      - .github/workflows/deploy.yml
  push:
    branches:
      - main
    paths:
      - template.yml
      - .github/workflows/deploy.yml

env:
  AWS_REGION: us-east-1

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}
      - name: Validate Template
        run: sam validate -t template.yml --lint
      - name: Deploy to AWS CloudFormation
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: TerraformAssumeRoleSetup
          template: template.yml
          capabilities: CAPABILITY_NAMED_IAM
          no-fail-on-empty-changeset: true
          no-execute-changeset: ${{ github.event_name == 'pull_request' }}
          parameter-overrides: TerraformThumbprint=${{ secrets.TERRAFORM_THUMBPRINT  }}