name: Destroy

on:
  workflow_dispatch:

jobs:
  destroy:
    name: Terraform Destory
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: iac/
    steps:
      - uses: actions/checkout@v4
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - run: terraform init
      - name: Run terraform destroy
        run: terraform destroy
