name: Terraform Apply

on:
  push:
    branches:
      - main
    paths:
      - "iac/**"
      - ".github/workflows/terraform-apply.yml"

jobs:
  apply:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: iac/
    steps:
      - uses: actions/checkout@v4
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - run: terraform init
      - name: Run terraform apply
        run: terraform apply # -auto-approve
        env:
          TF_VAR_amplify_access_token: ${{ secrets.AMPLIFY_ACCESS_TOKEN }}
          TF_VAR_aws_ses_record_value: ${{ secrets.AWS_SES_RECORD_VALUE }}
